html, body, p {
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.page__padding {
    padding: 24px;
}

.page-container__max-width {
    margin: auto;
    max-width: 1024px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto
}

.header-container__centered {
    align-items: center;
}

#logo {
    height: 100px;
    width: 100px;
}

nav ul {
    list-style-type: none;
}

li {
    float: left;
    text-align: center;
    padding: 0 14px;

}

.dark-background {
    background-color: #1F2937;
    color: #F9FAF8;
}

h1 {
    font-weight: 900;
    font-size: 40px;
}

.dark-background .hero-description {
    color: #E5E7EB;
}

.hero-description {
    font-size: 16px;
    max-width: 600px;
    margin-bottom: 16px;
}

.headerPic {
    width: 300px;
    height: 250px;
}

.connect {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.info {
    text-align: center;
    margin: auto;
    padding-top: 40px;
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.content {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.icons {
    height: 100px;
    width: 100px;
    position: relative;
}

.icon-calendar {
    height: 70px;
    width: 70px;
    padding-top: 20px;
}

figcaption {
    text-align: center;
    flex-wrap: wrap;
    font-size: 18px;
    color: #1F2937;
    max-width: 100px;
}

.grey-background {
    background-color: #E5E7EB;
    padding: 20px;
}

#quote {
    text-align: center;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
    font-size: 36px;
    margin-bottom: 0;
    padding: 10px;
}

#speaker {
    text-align: right;
    font-weight: bold;
    margin-top: 0;
    margin-right: 200px;
    padding-bottom: 20px;
    padding-top: 0;
}


.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.bold-text {
    font-size: x-large;
}

.thin-text {
    font-weight: 200;
    font-size: medium;
    max-width: 400px;
    margin-top: 16px;
}

#signup-btn {
    min-width: 150px;
    min-height: 50px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
}

footer {
    height: 80px;
    text-align: center;
    padding-top: 30px;
}

#credit-icons {
    margin: auto;
    color: #E5E7EB;
    font-size: 16px;
}

a {
    color: #E5E7EB;
    font-size: 16px;
}